<!DOCTYPE html>
<html lang="en">
  <head>
    {{ if .IsPage }}<base href="{{ (index .Ancestors 0).Permalink }}">{{ end }}
    <!-- Basic Page Needs
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta charset="utf-8" />
    {{ with .Site.Title }}
    <title>{{ . }}</title>
    <meta property="og:title" content="{{ . }}" />
    <meta name="twitter:title" value="{{ . }}" />
    {{ end }}
    {{ with .Site.Params.description }}
    <meta name="description" content="{{ . }}" />
    <meta property="og:description" content="{{ . }}" />
    <meta name="twitter:description" value="{{ . }}" />
    {{ end }}
    {{ with .Site.Params.author }}
    <meta name="author" content="{{ . }}" />
    {{ end }}

    <!-- Additional Unfurling
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta property="og:type" content="website" />
    <meta name="twitter:card" content="summary_large_image">

    {{ with .Params.image }}
    <meta property="og:image" content="{{ . }}" />
    <meta name="twitter:image" content="{{ . }}" />
    {{ end }}

    <meta property="og:url" content="{{ .Permalink }}" />
    <meta name="twitter:url" value="{{ .Permalink }}" />
    <meta name="twitter:domain" value="{{ .Site.BaseURL }}" />
    <meta name="twitter:label1" value="{{ .Params.title }}" />
    <!-- <meta name="twitter:data1" value="twitter:data1" />
    <meta name="twitter:label2" value="twitter:label2" />
    <meta name="twitter:data2" value="twitter:data2" /> -->

    <!-- Mobile Specific Metas
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- CSS
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link rel="stylesheet" href="{{ "css/normalize.css" | absURL }}">
    <link rel="stylesheet" href="{{ "css/barebones.css" | absURL }}">
    <link rel="stylesheet" href="{{ "css/jango.css" | absURL }}">

    <!-- Favicon
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    {{ with .Site.Params.favicon }}
    <link rel="icon" type="image/png" href="{{ . | absURL}}" />
    <link rel="icon" href="/favicon.ico" sizes="any" />
    <link rel="icon" type="image/svg+xml" href="{{ . | absURL}}" />
    {{ end }}

    <script type="module" src="https://cdn.jsdelivr.net/npm/@slightlyoff/lite-vimeo@0.1.1/lite-vimeo.js"></script>
    <!-- <script src="https://raw.githubusercontent.com/paulirish/lite-youtube-embed/master/src/lite-yt-embed.js"></script>
    <link href="https://raw.githubusercontent.com/paulirish/lite-youtube-embed/master/src/lite-yt-embed.css"><link> -->
    {{ partial "custom-head.html" . }}
  </head>
  <body>
    <!-- Primary Page Layout
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <div class="grid-container full">
      <header>
        <div id="title-container">{{ with .Site.Title }} {{ . }} {{ end }}</div>
        <div id="custom-header-outer">
          <div id="custom-header-container">
            {{ partial "custom-header.html" . }}
          </div>
        </div>
        <div id="nav-container">
          {{ $currentPage := trim .Page.RelPermalink "/" }} {{ with
          .Site.Params.navlinks }} {{ range . }} {{ $currentLink := index (split
          .url "/") 0 }}
          <a href="{{ absURL .url }}" {{ if eq $currentLink $currentPage}} class="active" {{ end }} >{{ .name }}</a> {{ end }} {{ end }}
        </div>
      </header>
    </div>

    <section class="content-main">{{- block "main" . }}{{- end }}</section>

    <footer>
      <a
        {{ with .Site.Params.navlinks }} {{ range . }} {{ if .imprint }} href="{{ .url | absURL }}" {{ end }} {{ end }} {{ end }}
        >{{ with .Site.Params.copyright }} {{ . }} {{ end }}</a
      >
    </footer>
    <!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
</body>
</html>
