{{ define "main" }}
<div id="single-hero">
    {{ with .Params.image }}<img src="{{ . }}"/>{{ end }}
</div>
<div class="grid-container full">
    <div id="single-content">
        <h1>{{ .Params.title }}{{ with .Params.year }}<span class="year"> ({{ . }})</span>{{ end }}</h1>
        {{ .Content }}
        {{ with .Params.partner}}
        {{ $length := len . }}
        <p class="partner">with
            {{ range . }}
            <span>{{ . }}</span>{{ if gt $length 1 }},{{ end }}
            {{ end }}
        </p>
        {{ end }}
        <div class="tag-list">
            {{ range .Params.tags }}
            <div class="tag">{{ . }}</div>
            {{ end }}
        </div>
    </div>
    
</div>
{{ end }}