{{ define "main" }}
<div id="single-hero">
    {{ with .Params.image }}<img src="{{ . }}"/>{{ end }}
</div>
<div class="grid-container full">
    <div id="single-content">
        <h1>{{ .Params.title }}{{ with .Params.year }}<span class="year"> ({{ . }})</span>{{ end }}</h1>
        {{ if .Params.partner }}
        <p class="partner">with
            {{ $length := (sub (len .Params.partner) 1) }}
            {{ range $i, $p := .Params.partner }}
                {{ if isset $p "url"}}
                <span><a href="{{ $p.url }}">{{ $p.name }}</a></span>{{ if lt $i $length }},{{ end }}
                {{ else }}
                <span>{{ $p.name }}</span>{{ if lt $i $length }},{{ end }}
                {{ end }}
            {{ end }}
        </p>
        {{ end }}
        {{ .Content }}

        


        <div class="tag-list">
            {{ range .Params.tags }}
            
            <div class="tag"><a href="{{ relURL (printf "%s%s" "tags/" (. | urlize)) }}">{{ . }}</a></div>
            {{ end }}
        </div>
    </div>
    
</div>

{{ end }}